<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <div class="footer-basic">
        <footer>
            <div class="social">
                <a href="https://www.facebook.com/dc1.sunshine/"><i class="icon ion-social-facebook"></i></a>
                <a href="https://github.com/nguyenxuantienhutech"><i class="icon ion-social-github"></i></a>
                <a href="https://www.linkedin.com/in/tien-xuan-nguyen-739050271/"><i class="icon ion-social-linkedin"></i></a>
                <a href="https://www.instagram.com/tien.spring19/"><i class="icon ion-social-instagram"></i></a>
            </div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="/">Home</a></li>
                <li class="list-inline-item"><a href="/experience">Experience</a></li>
                <li class="list-inline-item"><a href="/about">About</a></li>
                <li class="list-inline-item"><a href="/contact">Contact</a></li>
            </ul>
        </footer>
    </div>
    <button class="back-to-top"><i class="bi bi-arrow-up-circle-fill"></i></button>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>

<!-- credit to https://epicbootstrap.com/snippets/footer-basic -->