<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>About Me</title>
	<!-- Nạp các file CSS của Bootstrap -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css">
</head>
<body>
    <% include ../partials/header %>
	<!-- Định nghĩa main content của trang about -->
	<div class="content">
		<main>
			<div class="row">
				<div class="col-md-4">
					<img src="https://via.placeholder.com/300" alt="My profile picture" class="img-fluid">
				</div>
				<div class="col-md-8">
					<h1>About Me</h1>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis ligula eros. Fusce sit amet ante a odio bibendum efficitur. Vestibulum sed tristique augue. Duis elementum bibendum velit eu cursus. Phasellus consectetur, ipsum eget aliquet lacinia, elit elit commodo nibh, nec finibus turpis lorem eu libero.
					</p>
					<p>
						Curabitur eget augue nisl. Proin vel nisi ut erat commodo auctor vel vel est. Sed non purus lobortis, consectetur dolor vel, consequat augue. Maecenas congue pretium commodo. Nam consectetur varius convallis. Vivamus tempus ante et felis suscipit, eget posuere sapien congue. Nunc semper velit sit amet consequat feugiat. 
					</p>
				</div>
			</div>
		</main>	
	</div>
    <% include ../partials/footer %>
	<!-- Nạp các file JS của Bootstrap -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/js/bootstrap.bundle.min.js"></script>
</body>
</html>
