<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Experience</title>
  <!-- Nạp các file CSS của Bootstrap -->
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css">
</head>
<body>
  
  <% include ../partials/header %>
  <!-- Định nghĩa main content của trang experience -->
  <div class="content">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400&display=swap');
    </style>
    <section class="design-section">
        <h3 style="margin-bottom: 50px; color: white; font-family: VT323; font-size: 48px; margin-top: 0px;">MY EXPERIENCE</h3>
        <div class="timeline">
          <div class="timeline-empty"></div>
          <div class="timeline-middle">
              <div class="timeline-circle"></div>
          </div>
          <div class="timeline-component timeline-content">
              <h3>Project PHP</h3>
              <p>Some Text</p>
          </div>
          <div class="timeline-component timeline-content">
              <h3>Project Android</h3>
              <p>Some Text.</p>
          </div>
          <div class="timeline-middle">
              <div class="timeline-circle"></div>
          </div>
          <div class="timeline-empty"></div>
          <div class="timeline-empty"></div>
          <div class="timeline-middle">
              <div class="timeline-circle"></div>
          </div>
          <div class="timeline-component timeline-content">
              <h3>Intern .NET</h3>
              <p>Some Text.</p>
          </div>            
        </div>
        <!-- Job -->
        <h3 style="margin-bottom: 10px; color: white; font-family: VT323; font-size: 48px; margin-top: 30px;">MY EXPERIENCE</h3>
        <div class="row" id="job-list">
          <div class="row">
            <div class="col-md-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Job Title 1</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Company Name 1</h6>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis ligula eros.</p>
                  <p class="card-text">Duration: 2020-2021</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Job Title 2</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Company Name 2</h6>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis ligula eros.</p>
                  <p class="card-text">Duration: 2018-2020</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Job Title 3</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Company Name 3</h6>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis ligula eros.</p>
                  <p class="card-text">Duration: 2015-2018</p>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
  </div>
  <% include ../partials/footer2 %>
  <!-- Nạp các file JS của Bootstrap -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/js/bootstrap.bundle.min.js"></script>
</body>
</html>
