<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Experience</title>
  <!-- Nạp các file CSS của Bootstrap -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css">
</head>
<body>
  
  <% include ../partials/header %>
  <!-- Định nghĩa main content của trang experience -->
  <div class="content">
    <main class="container my-5">
      <h1 class="text-center mb-5">My Work Experience</h1>
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Job Title 1</h5>
              <h6 class="card-subtitle mb-2 text-muted">Company Name 1</h6>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis ligula eros.</p>
              <p class="card-text">Duration: 2020-2021</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Job Title 2</h5>
              <h6 class="card-subtitle mb-2 text-muted">Company Name 2</h6>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis ligula eros.</p>
              <p class="card-text">Duration: 2018-2020</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Job Title 3</h5>
              <h6 class="card-subtitle mb-2 text-muted">Company Name 3</h6>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis ligula eros.</p>
              <p class="card-text">Duration: 2015-2018</p>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  <% include ../partials/footer %>
  <!-- Nạp các file JS của Bootstrap -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/js/bootstrap.bundle.min.js"></script>
</body>
</html>
