<!-- <h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre> -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <style>
    /* body {
      background-color: #f2f2f2;
      font-family: Arial, sans-serif;
    } */

    .update {
      max-width: 800px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100vh;
      text-align: center;
    }

    .update h1 {
      font-size: 6rem;
      margin: 0;
      color: #555;
    }

    .update p {
      font-size: 2rem;
      color: #888;
    }

    .update img {
      max-width: 100%;
      height: auto;
      margin-bottom: 2rem;
    }
  </style>
</head>
<body>
  <% include ../partials/header %>
  <div class="update">
    <img style="  background-image: none; width: 400px; height:auto;" src="/img/404.png" alt="Under Construction">
    <h1>Hihi Haha</h1>
    <p>Đang cập nhật...</p>
  </div>
  <% include ../partials/footer2 %>
</body>
</html>
